@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap");

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: "Cinzel", serif;
  z-index: 0;
}

/*NAVBAR STYLE (IMG, INPUT, BUTTON)*/
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.nav-menu {
  background: #7a5b05cc;
  border-bottom: 4px #c81818d9 solid;
  height: 50px;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: inherit;
  padding: 5px;
}

.form-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right: 80px;
  z-index: 2;
}

input {
  background-color: #ffffff38;
  border-radius: 16px;
  border: none;
  height: 36px;
  width: 240px;
  padding-left: 16px;
  color: white;
}

input:focus{
  border-color: rgba(255, 220, 123, 0.8);
  -webkit-box-shadow: 9px 9px 18px #bd9f4ef1, -3px -3px 10px #bd9f4ef1;
  box-shadow: 6px 6px 10px #bd9f4ef1, -3px -3px 10px #bd9f4ef1;
  background-color: #b1b09fcf;
  outline: 0 none;
  caret-color: #473606;
  color: #473606;
  font-weight: bold;
}

.search {
  background-color: transparent;
  border: none;
  margin-left: -40px;
  height: 36px;
  width: 36px;
}

.search img{
  filter: brightness(0) invert(1);
}
.search:hover{
  cursor: pointer;
}

.nav-span {
  color: white;
  background-color: #c81818d9;
  width: 100%;
  font-size: 1.2em;
  padding: 4px 16px;
  font-weight: 500;
}





.container { /*PRESENTE IN ENTRAMBI GLI HTML*/
  padding-top: 111px;
  position: fixed;
  height: 100%;
}

/*MAIN PAGE STYLE (INDEX)*/
#card-container {
  width: calc(100% - 5rem);
  box-sizing: border-box;
  transition: 0.15s ease-out;
  margin-top: 0.5rem;
  border-radius: var(--border-radius);
  overflow-y: scroll;
  max-height: calc(100% - 132px);
  padding: 0 0 0 0rem;
  margin-left: 3rem;
  align-content: baseline;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 42px;
  justify-items: center;
  scrollbar-color: #7a5b05cc transparent;
}
.card {
  max-width: 70%;
  padding: 10px;
  height: auto;
  -webkit-border-radius: 60px;
  border-radius: 16px;
  background: #dddcc9ea;
  -webkit-box-shadow: 9px 9px 18px #8b722e, -3px -3px 10px #8b722e;
  box-shadow: 6px 6px 10px #8b722e, -3px -3px 10px #8b722e;
  display: flex;
  flex-direction: column;
}
.card:hover {
  -webkit-box-shadow: 9px 9px 18px #ffdc7b, -3px -3px 10px #ffdc7b;
  box-shadow: 6px 6px 10px #ffdc7b, -3px -3px 10px #ffdc7b;
  background: #b1b09fcf;
  color: #5b4b1f;
  cursor: pointer;
}
.card:active {
  background-color: #ffffff;
  box-shadow: 0 4px rgb(200, 24, 24);
  transform: translateY(6px);
}
.card img {
  max-width: 100%;
  height: auto;
}
.card p {
  text-align: center;
  font-size: 2em;
}


/*INFORMATION PAGE STYLE*/
#info-container {
  margin-top: 64px;
  position: fixed;
  height: 100%;
  width: 100%
}

#container-character{
  padding: 0px 28px;
  display: flex;
}
#container-character h1 {
  border-bottom: #722020 solid 4px;
  color: #722020;
  font-size: 40px;
  font-weight: 500;
  text-shadow: 2px 2px 4px #b81a1a;
  display: block;
}

#text-container{
  flex-grow: 1;
}
#text-container span{
  font-size: 1.2em;
  font-weight: 400;
}


#text-container p{
  font-size: 1.25em;
  font-weight: 500;

}

.info-img {
  padding: 52px 16px;
  max-height: 500px;
}



/*SEPARATE ELEMENTS*/
#top-btn, .btn {
  -webkit-tap-highlight-color: var(--color-transparent);
  position: fixed;
  background: hsla(0, 79%, 44%, 0.822);
  color: #fff;
  bottom: 0px;
  left: 0px;
  z-index: 2;
  padding: 2.25rem 2rem 1rem 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0 150px 0px 0px;
  cursor: pointer;
}

#top-btn:hover {
  opacity: 0.6;
}


/*START MEDIA QUERY*/
@media screen and (max-width: 1200px) {

  html,
  body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  /*MAIN PAGE*/
  .container {
    height: 100vh;
    width: 100vw;
    padding-left: 2em;
  }

  #card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: unset;
  }

  .card {
    min-width: 70vw;
    padding: 10px;
    height: 80px;
    -webkit-border-radius: 60px;
    border-radius: 16px;
    background: #dddcc9ea;
    -webkit-box-shadow: 9px 9px 18px #8b722e, -3px -3px 10px #8b722e;
    box-shadow: 6px 6px 10px #8b722e, -3px -3px 10px #8b722e;
    display: flex;
    flex-direction: row;
  }

  .card p {
    font-size: 20px;
    padding-top: 8px;
  }

  .card img {
    max-width: 100%;
    height: auto;
  }

  /*INFORMATION PAGE*/

  /*SEPARATE ELEMENTS*/
  #top-btn {
    bottom: 0px;
    right: 0px;
    left: unset;
    right: 0px;
    padding: 2.25rem 1rem 1rem 2rem;
    border-radius: 150px 0px 0px 0px;
  }
}

/*END MEDIA QUERY*/
