html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Cinzel', serif;
    background-size:cover;
}

.card{
    margin: 20px;
    -webkit-border-radius: 60px;
border-radius: 16px;
background: #ffffff;
-webkit-box-shadow: 9px 9px 18px #dbdbdb, -9px -9px 18px #ffffff;
box-shadow: 9px 9px 18px #dbdbdb, -9px -9px 18px #ffffff;
}

.card img{ 
    height: 50px;
}
.nav-menu{
    background: #ffffff;
    height: 44px;
    width: 100%;
    border-bottom: tomato solid 6px;
    padding: 8px;
    display: flex;
    justify-content:  space-between;
}


.log{
    height: inherit;
}

.pg-img{
    height: 300px;
}

#ricerca{
    background-color: transparent;
    background-image: url('./assets/search_FILL0_wght400_GRAD0_opsz48.png');
    border:  none;
    height: 48px;
    width: 48px;
}